@charset "utf-8";




/* CSS Document */

	
	/***************************************************************************************
			Fonts
***************************************************************************************/




@font-face {
    font-family: 'WebServeroffRegular';
    src: url('../fonts/WebServerOff/Web_Serveroff-webfont.eot');
    src: url('../fonts/WebServerOff/Web_Serveroff-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebServerOff/Web_Serveroff-webfont.woff') format('woff'),
         url('../fonts/WebServerOff/Web_Serveroff-webfont.ttf') format('truetype'),
         url('../fonts/WebServerOff/Web_Serveroff-webfont.svg#WebServeroffRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WebServeroffItalic';
    src: url('../fonts/WebServerOff/Web_Serveroff-Italic-webfont.eot');
    src: url('../fonts/WebServerOff/Web_Serveroff-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebServerOff/Web_Serveroff-Italic-webfont.woff') format('woff'),
         url('../fonts/WebServerOff/Web_Serveroff-Italic-webfont.ttf') format('truetype'),
         url('../fonts/WebServerOff/Web_Serveroff-Italic-webfont.svg#WebServeroffItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/***************************************************************************************
			General
***************************************************************************************/



*{
margin:0px;
padding:0px;	
	
	}

body {
	
	
	background-image: url(../../img/background.jpg); 
	background-repeat:no-repeat;

	background-attachment:fixed;
	background-position:center;
	
	}




	
#wrapper{
	width: 965px;
	height: auto ;
	background-color: transparent;
	background-image: none;
	margin: 0 auto;
	/*opacity:1;*/ 
	border: 0px solid;
	
	}


	
#header {
	width: 100%;
	height: 200px;
	background-color: transparent;
	background-image: none;
    border-top: 1px double  #666666;
	margin:0 auto;
	}
	
		
#header_container {
	width: 965px;
	height: 200px;
	background-color: transparent;
	background-image: none;
    border-bottom: 1px #999999 solid;
	margin:auto;
	}
	
#logo {
	width: 480px;
	height: 240px;
	border: 0px #FFFFFF solid;
	background-color: transparent;
	float: left;
	margin-top: 0px;
	margin-left: 30px;
	background-repeat:no-repeat;  
	background-image: url(../../img/LOGO.png);
	
}

#tagline{
	width: 400px;
	height: 100px;
	border: 1px #FFFFFF solid;
	background-color: transparent;
	float: right;
	margin-top: 100px;
	margin-right: 180px;
	font-family: 'WebServeroffItalic';
	font-size:45px;
	color:#FFF;
	text-align:center;
	}
	

	

	
#navigation{ 
	width: 965px;
	height: 45px;
	background-color: transparent;
	float:left;
	margin-left:40px;
}	

#bar{
	
	list-style:none;
	font-family: 'WebServeroffRegular'; 
	font-size: 28px;
	}

#bar ul{
list-style:none;            
text-align:center;

}

#bar ul li{                    
	float:left;              
	border-right:0px solid;
	border-color: #CCC;
	margin-top:5px;
	
	}
#bar ul li a{                      
	display:block;               
	height: 20px;
	width: 90px;
	
	font-size:20px;
	color: #45585A;
	text-align:center;          
	text-decoration: none;   
	border: 0px solid;
	}
	
#bar ul li a:hover {
color: #FC0;
height: 20px;
width: 100px;

}


	


.error{
		
		display:block;
		color:#900;
		margin-left:70px;
		}





/***************************************************************************************
			Form
***************************************************************************************/
form, fieldset, imput, textarea {border: 0; outline: none;} /*resets elements */


.form{                       
	width: 600px;
	height: auto;
	margin-left: 380px;
	margin-top:60px;
	margin-bottom:50px;
	background-color: transparent;
	
	
	
	}

fieldset{
	background-image:none;
	height:100px;
	width:auto;
	font-family: 'WebServeroffRegular';
	font-size:24px;
	color: #666;
	margin-top:30px; 
	margin-left: 30px;
	text-align: justify;
	border-radius: 3px;
	border:0px #00FF00 solid;

	
	
	}
	

	

.paragraph{
	margin-top:190px;
	margin-left:30px;
	border: 0px  dotted  #006699;
	height:150px;
	width:330px;
	float:left;	
	clear: both;
	font-family: 'WebServeroffRegular';
	font-size:20px;
	text-align: justify;
	
	}	
	

.text{ 
	width: 200px;
	height:25px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:400;
	color:#45585A;
	font-size:12px;

	border: 0px solid  #45585A;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #888888;
	background-image: none;
	}

.help{
	font-family:'WebServeroffItalic';
	font-size: 24px;
	color:#45585A;
	text-align: justify;
	border-bottom: 1px dotted #666666;
	margin-left: 30px;
	margin-bottom:60px;
	margin-top:60px;
	}
	
	
.field_name_container{
	 
	width: 190px; 
	height: 20px; 
	padding: 5px; 
	border-radius: 3px;
	
}

.check{
	margin-top: 12px;
	
}

.check2{
	margin-top: 12px;
	width:400px;
	height:100px;
}

.check3{
	margin-top: 12px;
	width:autopx;
	height:30px;
}

.title{
	color:#45585A; 
	margin-left:4px;
	width:400px;
	display:block;
	padding-top:5px;
	
}

.title2{
	color:#45585A; 
	margin-left:4px;
	width:100px;
	display:block;
	

	
}

#submit{
	color: #666;
	font-family: 'WebServeroffRegular';
	font-size:20px;
	width: 90px;
	height: 30px;
	background-color: #FFF;  
	border-radius: 3px; 
	}

